$font-stack: sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  font-family: $font-stack;
}
