<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <title>Cubicle</title>
    <link href='/css/site.css' type='text/css' rel='stylesheet' />
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
  </head>

  <body>
    <div class='container'>
      {{>navigation}}
      {{#if errors}} 
      <div id="notifications">
        {{#each errors}}
        <p id="notification-message">{{msg}}</p>
        {{/each}}
      </div>
      {{/if}}
      {{{body}}}
    </div>
    <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
  </body>

</html>