<section id='catalog-section'>
  <h1 class='item'>
    Fishing Boat
    <div class='f-right'>
      <a class='action pad-small f-left' href='#'>
        Edit
      </a>
      <a class='action pad-small f-left' href='#'>
        Delete
      </a>
    </div>
  </h1>
  <div class='item padded'>
    <div class='layout right large'>
      <div class='col'>
        <img src='/static/assets/boat.jpg' class='img-large' />
      </div>
      <div class='content pad-med'>
        <p>
          In category:
          <strong>
            Vehicles
          </strong>
        </p>
        <p>
          Excellent condition. Onboard diesel motor, upholstered cockpit,
          fishing sonar. Includes trailer.
        </p>
        <div class='align-center'>
          <div>
            Current price: $
            <strong>
              5000
            </strong>
          </div>
          <div>
            <!-- If there is a bidder -->
            Bid by
            <strong>
              John Maclane
            </strong>
            No bids
          </div>
        </div>
      </div>
    </div>
    <footer>
      Listed by Peter Jackson
    </footer>
  </div>
</section>