<div class='coin'>
  <div class='coin-img'>
    <img src='./static/images/bitcoin.png' />
  </div>
  <div class='coin-info'>
    <h1>Bitcoin</h1>
    <p><span>Price: </span>$31,166.71</p>
    <p><span>Payment: </span>paypal</p>
  </div>

  <a href='#' class='btn-details'>Details</a>
</div>