<section class='create-form-container'>

    <form action=''>
        <h3>Create Book Review</h3>
        <label>Title</label>
        <input type='text' name='' class='box' id='' />
        <label>Author</label>
        <input type='text' name='' class='box' id='' />
        <label>Genre</label>
        <input type='text' name='' class='box' id='' />
        <label>Stars</label>
        <input type='number' name='' class='box' id='' />
        <label>Image</label>
        <input type='text' name='' class='box' id='' />
        <label>Review</label>
        <textarea class='box' name=''></textarea>
        <input type='submit' value='Create' class='btn' />
    </form>
</section>