<section class='login-form-container'>

    <form action=''>
        <h3>Login</h3>
        <label>Email</label>
        <input type='email' name='' class='box' id='' />
        <label>Password</label>
        <input type='password' name='' class='box' id='' />
        <input type='submit' value='Login' class='btn' />
        <p>Don't have an account ? <a href='#'>Create one</a></p>
    </form>
</section>