<section class='register-form-container'>

    <form action=''>
        <h3>Register</h3>
        <label>Email</label>
        <input type='email' name='' class='box' id='' />
        <label>Username</label>
        <input type='text' name='' class='box' id='' />
        <label>Password</label>
        <input type='password' name='' class='box' id='' />
        <label>Confirm Password</label>
        <input type='password' name='' class='box' id='' />
        <input type='submit' value='Register' class='btn' />
        <p>Have an account ? <a href='#'>Click here</a></p>
    </form>
</section>