{{#with cat}}
  <form action='/edit/{{id}}' method='post' class='cat-form'>
    <h2>Edit Cat</h2>
    <label for='name'>Name</label>
    <input type='text' id='name' value='{{name}}' />
    <label for='description'>Description</label>
    <textarea id='description'>{{description}}</textarea>
    <label for='image'>Image</label>
    <input type='file' id='image' />
    <label for='group'>Breed</label>
    <select id='group'>
      <option value='Fluffy Cat'>Cool Cat</option>
      <option value='Fluffy Cat'>Stupid Cat</option>
      <option value='Fluffy Cat'>Awesome Cat</option>
    </select>
    <button>Edit Cat</button>
  </form>
{{/with}}